
.hero{
  width: 1440px;
  height: 530px;
  border-radius: 0px 24px;
  background: linear-gradient(to right, #0F2027, #203A43);
  
}

.head{
  width: 1440px;
  height: 88px;
  
}

.logo{
  margin-top: 80px;
  margin-left: 26px;
  width: 65px;
  height: 36px;
  font-family: Tektur;
  font-weight: 800;
  font-size: 28px;
  letter-spacing: 2%;
  color: #FFFFFF
}

#search{
  margin-top: 360px;
  margin-left:20px;
  width: 720px;
  height: 48px;
  border-radius: 24;
  background-color: #F7F7F7;
  border-color: #E0E0E0;
  
}

#account{
  margin-top: 1320px;
  margin-left:20px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  
}

.cap1{
  margin-top: 160px;
  margin-left:236px;
  width: 507px;
  height: 43;
  font-family: Inter;
  font-weight: bold;
  font-size: 36px;
  color: white;
  
}

.cap2{
  margin-top: 160px;
  margin-left:288px;
  width: 520px;
  height: 19px;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  color: #E0E0E0
}

.button{
  margin-top: 160px;
  margin-left: 330px;
  width: 180px;
  height: 48px;
  border-radius: 24;
  padding: 10;
  color: ff6b00
  
}
