.body{
  background-color: #2b2b2b;
  color: #f7e6d7;
  font-family: sans-serif;
  margin: 0;
  
}

.Navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  
}

.hero{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
  height: 80vh;
}

.h1{
  font-size: 4rem;
  line-height: 1.2;
  background: radial-gradient(circle at 60% 40%, rgba(255, 255, 255, 0.1) 0%, #2b2b2b 70%);
  
  
}

.button{
  background: transparent;
  border: 1px #f7e6d7;
  color: #f7e6d7;
  padding: 10px 30px;
  cursor: pointer;
  
}
